.chatHolder {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 25%;
    margin-top: 50px;
    margin-bottom: none;
    border: blue 2px solid;
    border-radius: 12px;
    width: 700px;
    height: 700px;
}
.chatText {
    margin: 10px;
    padding: 15px;
    height: 450px;
    min-height: 450px;
    width: 650px;
    border: green solid 2px;
    border-radius: 12px;
}
.form {
    border: red 2px solid;
    border-radius: 12px;
    margin: 10px;
    padding: 15px;
    width: 650px;
    max-width: 675px;
    height: 200px;
}
.textarea {
    width: 640px;
    height: 125px;
}
.message {
    border: 2px purple solid;
    border-radius: 12px;
    /* padding: 5px; */
}